<%- include('./includes/headers.ejs') %> 
        
        <form action="/<% if (editing) { %>edit<% } else { %>add-book<% } %>" method="POST">
            <div class="form-signin">
                <h2 class="form-signin-heading">
                    <% if (editing) { %> Edit book <% } else { %> Add Book <% } %></h2>
                <label for="title">Title</label>
                <input type="text" 
                name="bookName" 
                id="bookName" 
                placeholder="title"
                value="<% if (editing) { %><%= book.bookName %><% } %>""
                class="form-control mb-2" required autofocus>
                <label for="text">ImageUrl</label>
                <input type="text"
                name="bookImage" id="bookImage" value="<% if (editing) { %><%= book.bookImage %><% } %>" class="form-control mb-2" required>
                <label for="author">Author</label>
                <input type="text"
                name="author" id="author" value="<% if (editing) { %><%= book.author %><% } %>"
                class="form-control mb-2" required>
                <label for="genre">Genre</label>
                <input type="text"
                name="genre" id="genre" value="<% if (editing) { %><%= book.genre %><% } %>"
                class="form-control mb-2" required>
                <label for="releaseDate">Release Date</label>
                <input type="text" placeholder="eg. Apr 11, 2020"
                name="releaseDate" id="releaseDate" value="<% if (editing) { %><%= book.releaseDate %><% } %>"
                class="form-control mb-2" required>
                <label for="active">Activate</label>
                <input type="text" placeholder="true/false"
                name="active" id="active" value="<% if (editing) { %><%= book.active %><% } %>"
                class="form-control mb-2" required>
                <% if (editing) { %>
                    <input type="hidden" value="<%= book._id %>" name="bookId">
                <% } %>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    <% if (editing) { %>Update book<% } else { %>Add book<% } %>
                </button>
            </div>   
        </form>
        <%- include('./includes/footer.ejs') %>